# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.mplconfig/
.cache/
.pycache/
.pytest_cache/

# Environment files
.env
.vercel
*.pkl
*.csv
*.jpeg
*.jpg
*.png
.vercel/
.cache/
